body {
  background-image: url('../public/Tori.jpeg'); 
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  background: #ffffffee;
  backdrop-filter: blur(6px);
  padding: 35px;
  width: 90%;
  max-width: 480px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(255, 182, 193, 0.35);
  border: 2px solid rgba(255, 182, 193, 0.45);
}

h2 {
  text-align: center;
  color: #d95f9f;
  font-size: 26px;
  margin-bottom: 20px;
}

form input {
  padding: 12px;
  width: 70%;
  border-radius: 10px;
  border: 2px solid #f7c6d8;
  background: #fff4f8;
  outline: none;
  font-size: 14px;
  color: #a13d74;
}

form input::placeholder {
  color: #d28aa7;
}

form button {
  padding: 12px 16px;
  margin-left: 10px;
  border-radius: 12px;
  background: #f7a9c4;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

form button:hover {
  background: #f485b2;
}

.habit-item {
  display: flex;
  align-items: center;
  background: #fff4f8;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  border: 2px solid #f8d6e0;
}

.habit-item span {
  margin-left: 12px;
  color: #a13d74;
  font-weight: 500;
  flex-grow: 1;
}

.habit-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #f37dad;
  cursor: pointer;
}

.habit-item:hover {
  transform: translateY(-2px);
  transition: 0.2s ease;
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3);
}

.habit-item button {
  background: #f37dad;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.habit-item button:hover {
  background: #d95f9f;
}

.progress-container {
  height: 12px;
  background: #f8d6e0;
  border-radius: 20px;
  margin-top: 20px;
}

.progress-bar {
  height: 100%;
  background: #f48bb3;
  border-radius: 20px;
  transition: width 0.4s ease;
}